



/* What is sniff */

}


/* Affinity */
#interview {
    width: 900px;
    margin: auto;
}



/*User */
.amymarie {
    width: 1200px;
    margin: auto;
    
}

/* Carousel */

#carouselExampleInterval {
    Width: 400px;
    margin: auto;
}

.moretests {
    width: auto;
    margin: auto;
}


.background {
    background-color: rgb(219, 192, 238);
}