.inline-block {
    display: inline-block;
    vertical-align: top;
}
.logo {
    width: 23%;
    padding: 1%;
    text-align:center;
}


.logo img {
    width: 50%;
    transform: translate(-20px, -10px)
}
.logo img:hover {
    color:blueviolet;
    opacity:.5;
    transform: rotate(180deg);
    transition: all 1s ease-in-out;
}
.navigation {
    display: flex;
}
nav {
    width: 73%;
    padding: 1%;
}

nav ul {
    width: 50%;
    margin-left: auto;
}

.heroImg {
    height: 600px;
    padding: 25px;
}

.content {
    width: 500px;
    margin: 0 auto;
}

footer {
    background color: #373738;
    padding: center;
}

footer ul {
    display: inline-block;
    vertical-align: top;
}

footer li {
    padding: center;
}